/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
     font-size:62.5%;
}

body {
     background-color:#becfec;
}

.form {
     font-size:2rem;
     text-align:center;
     background-color:#6690d2;
     border: 10px solid #e9eff9;
     width:30%;
     margin: 15% auto;
}

form {
     margin: 10% 0;
}

form *{
     padding-right:5%
}

 button{
     margin-bottom:5%;
     background-color:#becfec;
    
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
