/* Box Model Hack */
* {
     box-sizing: border-box;
     font-family: 'Lato', sans-serif;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
     font-size:62.5%;
}

body {
     background-color:#becfec;
}

.form {
     font-size:2rem;
     text-align:center;
     background-color: rgba(255, 255, 255, 0.508);
     border: 2px solid rgb(249, 247, 247);
     border-radius: 10px;
     width: 500px;
     height: 300px;
     margin: 15% auto;
     box-shadow: #6690d2 0px 2px 4px;  
}

.form h2 {
     border-top: 20px solid rgba(0,0,0,0);
}
/* decorate radio buttons*/

.form [type="radio"] {
     appearance: none;
     border: max(2px, 0.1em) solid gray;
     border-radius: 50%;
     width: 2.2rem;
     height: 2.2rem;
     transition: border 0.5s ease-in-out;
     vertical-align: middle;
}

/* button turns blue when clicked*/

.form [type="radio"]:checked {
     border: 0.4em solid #6690d2;
   }

.form form label {
     font-size: 2.2rem;
     vertical-align: middle;
}

/* submit button decoration*/
.form button {
     margin-bottom:5%;
     padding: 10px 40px;
     border: 2px solid #687285;
     color: #282c33;
     border-radius: 30px;
     background-color: rgba(255, 255, 255, 0.508);
}

.form button:hover {
     background-color:#becfec;
     transition: 0.3s;
     border: 2px outset #687285;
}


form {
     margin: 10% 0;
}

form * {
     padding-right:5%
}


.uniForm {
     font-size:2rem;
     text-align:center;
     background-color:#6690d2;
     border: 10px solid #e9eff9;
     width: 680px;
     margin: 15% auto;
     height: 350px;
     display: flex;
     flex-direction: column;
     padding-right: 0;
} 

.uniForm form {
     display: grid;
     grid-template-columns: 1fr 5fr 1fr 5fr;
     gap: 2rem;
     margin: 0;
     border: 0;
     padding: 40px 20px 20px 20px;
}

.uniForm form label {
     padding-right: 0;
     width: 0%;
}

.s1 {
     display: flex;
     width: 100%;
     justify-content: space-around;
     height: 80%;
    
     
}

.uniForm input[type=text] {
    padding: 0;
    height: 60%;
    border-radius: 10px;
    padding: 5px;
    
}

.uniForm .submit {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.submit button {
     padding: 10px 20px;
     border-radius: 10px;
}


/******************************************
/* ADDITIONAL STYLES for 100DEVS FORM 
/*******************************************/

.hDevsForm{
     height: calc(100vh - 80px);
     display:flex;
     flex-direction: column;
     justify-content:space-between;
     font-size:1.5rem;

}

.main1 {
     margin: 10% 0;
}

.main1 form {
     margin: 0;
     
}
.navbar ul{
     list-style:none;
     font-size:4rem;
     display:flex;
     justify-content:space-between;
}

footer{
     display:flex;
     justify-content:center;
}

.labelReset{
     padding-right:2px;
     padding-left: 20px;
}

/* this shaeki i flex and the form box very big  */


.main1 form{
     display:flex;
     flex:1;
     /*just added some invisible borders to get the form off the edge of the screen*/
     border-left: 50px solid rgba(0,0,0,0);
     border-right: 50px solid rgba(0,0,0,0);
     margin-bottom: 50px;
}


/* fixed the annoying ass gae shaekis so that they're smaller again*/

.main1 .date, .day, .progress {
    height: 50px;
}


/*just wanted to put the text and the input side by side :3 you can delete if you want to */

.timer, .anki, .codewars {
     display: flex;
     height: 25px;

}


/* put text and checkbox side by side and gave them some gaps*/

.anki .labelReset, .codewars .labelReset {
     display: flex;
     align-items: center;
     padding-right: 10px;
}

.timer input {
     width: 60px;
     padding-right: 0px;
}

/* had to change the button type to "submit" and it needed new css*/

.main1 button {
     padding: 5px 20px;
}

/**************table**************/

/*decoration*/

#logTable, #logTable th {
     border-bottom: 5px solid #6690d2;
     border-collapse: collapse;
     
}


/*invisible border*/
.devsTable {
     border-left: 50px solid rgba(0,0,0,0);
     border-right: 50px solid rgba(0,0,0,0);
     
}


/* set table width... idk how to do it better */

#logTable {
    width: 100%;

}

th {
     padding: 20px;
}
